@charset "UTF-8";

body{
    width: 1400px;
    margin: 5px auto 5px auto;

}

body section header img{
    margin-left:30px;
    margin-top: 175px;
    margin-bottom: 175px;

}
article,section,h1{
    margin: 0px;
}

/*Menu*/

hgroup{
    color: red;
    text-align: center;
    font-weight: 500;
}
hgroup h1 {
    margin-top: 0px;
    font-size: 100px;
    margin-bottom: 0px;
}

hgroup h2{
    margin-top: 0px;
    font-size: 40px;
}

ol li{
    font-size: 20px;
}
aside{
    position: relative;
    background-color: #151313;
    color: white;
    width: 400px;
    margin-left: 30px;
    height: 30500px;
    float: left;
}

aside nav ol li a{
    text-decoration: none;
    color: white;
}

/*Tópicos*/

article{
    float: left;
    width: 940px;/*largura*/
}

section{
    opacity: 100%;
    color:#696969;
    text-align: left;
}

hr{ /*linha*/
   border-width: 2px;
   border-color: #FF0000;
   margin-left: 30px;
}

img,figcaption{
    margin-left: 30px;
}

section p{
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}

h1,h2,h3{
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 30px;
}

h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}

table, tr, td {
 
    border: solid 3px red;
    padding: 40px;
    width: 30px;
    height: 10px;
    top: 20px;
    right: 30px;
    
}

section header p{
    color: #FF0000;
    position: absolute;
    font-weight: bold;
    font-size: 30px;
}

#comando1{
    top: -100px;
    left: 700px;
}
#comando2{
    top: 300px;
    left: 300px;
}
#comando3{
    top: 200px;
    left: 450px;
}

#comando4{
    top: 200px;
    left: 900px;
}
#comando5{
    top: 200px;
    left: 100px;
}
#comando6{
    top: 400px;
    left: 900px;
}
#comando7{
    top: 400px;
    left: 300px;
}
#comando8{
    top: 400px;
    left: 350px;
}
#comando9{
    top: 300px;
    left: 700px;
}
#comando10{
    top: 200px;
    left: 1000px;
}
