@charset "UTF-8";

section h1 {
    color: white;
    text-align: left;
    font-weight: 500;
    margin: 0px;
}
body{
    background-color: grey;
}

hr{
   width: 3px;

}

section{
   border-width: 3px;
   border-color: white;
   border-style: solid;
   width: 888px;
   float: right;
}

section h2{
    color: white;
    text-align: left;
    font-weight: 500;
}

section p{
    color: white;
    text-align: left;
    font-weight: 500;
}
section{
    margin: 0px;
}

section, h1, h2, h3, p, hr{ 
    border-width: 2px;
    border-style: solid;
    border-color: black;
}